/* Using SCSS variables to store breakpoints */

footer{
  background: #2880B8;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 10px;
  color: white;
  text-align: center;

  a:visited,
  a:active,
  a {
    color: white;
    text-decoration: underline;
    line-height: 21px;
  }

  a.share-social {
    margin-left: 10px;
  }
}

.not-optimized-mobile {
  background: #2880B8;
  color: white;
  font-size: 24px;
  padding: 0 20px;
  text-align: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep #game {
  display: inline-block;
}

:host ::ng-deep #debug {
  display: none;
  width: 1300px;
  height: 300px;
  padding: 0 20px;
  border: solid 1px darkgray;
  box-sizing: border-box;
  overflow: scroll;
  &.show {
    display: block;
  }

  h2 {
    text-align: center;
  }

  .container {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    margin-top: 10px;
  }

  .container:not(:last-child) {
    border-right: solid 1px black;
  }

  .message.important {
    font-weight: bold;
  }

  .message {
    display: inline-block;
  }

  .title {
    font-size: 18px;
    color: #336699;
    display: inline-block;
    margin-right: 5px;
  }
}

:host ::ng-deep #messages {
  display: none;
  width: 400px;
  height: 900px;
  vertical-align: top;
  padding: 0 20px;
  border: solid 1px darkgray;
  box-sizing: border-box;
  overflow: scroll;
  &.show {
    display: inline-block;
  }

  h2 {
    text-align: center;
  }

  .message.important {
    font-weight: bold;
  }

  .title {
    font-size: 18px;
    color: #336699;
    margin-top: 10px;
  }

  .title.game {
    color: brown;
  }
}
