<div class="game-container">
  <div class="buttons">
    <button type="button" class="btn btn-outline-light" (click)="openModal(rulesmodal)">Règles</button>
    <button type="button" class="btn btn-outline-light" (click)="openModal(helpmodal)">Aide</button>
    <button [hidden]="!canShowChat() && !isDesktop" type="button" class="btn btn-outline-light" (click)="openChat()">Chat</button>
  </div>
  <div id="game"></div>
  <div id="chat">
    <span class="cross" *ngIf="!isDesktop" (click)="closeChat()">x</span>
    <h2>Messagerie</h2>
    <div class="messages"></div>
    <input name="msg" placeholder="Discutez ici">
  </div>
  <div id="debug">
    <h2>DEBUG</h2>
  </div>
</div>
<!--<div *ngIf="!isDesktop" class="not-optimized-mobile">
  Cette application n'est pas optimisée pour mobile ou tablette.
</div>-->

<ng-template #rulesmodal let-modal>
  <div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <iframe style="width: 100%;height:100%;" src="/rules" class="embed-responsive-item" frameborder="0"></iframe>
  </div>
</ng-template>

<ng-template #helpmodal let-modal>
  <div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <iframe style="width: 100%;height:100%;" src="/help" class="embed-responsive-item" frameborder="0"></iframe>
  </div>
</ng-template>
